main {
    padding: 1em 5em 0.5em;
}
h1 {
    text-align: center;
    margin: 1.5em;
}
.todo-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 1em;
}

.todo-list > div {
    overflow: hidden;
    border: 1px solid #000;
}
