main {
    width: calc(100% - 200px);
}

.title-container {
    display: flex;
    align-items: end;
    height: 150px;
    color: white;
    background-image: url('repeat-img.jpeg');
}

.text-container {
    margin-left: 1.5em;
}

.title-container h1 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    margin-bottom: .5em;
}

.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-container {
    display: flex;
    justify-content: center;
}

.description-container span {
    align-items: center;
    display: flex;
}