main {
    padding: 1em 5em 0.5em;
}
h1 {
    text-align: center;
    margin: 1.5em;
}
.todo-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 1em;
}

.todo-list > div {
    overflow: hidden;
    border: 1px solid #000;
}

.add-todo-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    display: flex;
}
.dialog-fade-in {
    animation: fadein 0.2s linear 1 forwards;
}
.dialog-fade-out {
    animation: fadeout 0.2s linear 1 forwards;
}
.dialog-fade-off {
    display: none;
}

.add-todo-dialog {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    margin: auto;
}

.add-todo-dialog h2 {
    text-align: center;
}
.toolbar {
    display: flex;
    justify-content: space-between;
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes fadeout {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    95% {opacity: 0;}
    100% { display: none; opacity: 0; z-index: -1;}
}