.add-todo-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    display: flex;
}

.add-todo-dialog {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
    margin: auto;
}

.add-todo-dialog h2 {
    text-align: center;
}
.toolbar {
    display: flex;
    justify-content: space-between;
}

.title-input {
    width: 100%;
    height: 50px;
    font-size: x-large;
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
input.title-input:focus {
    outline: none;
    border-bottom: 2px solid rgb(4, 106, 201);
}
.dialog-footer {
    display: flex;
    justify-content: space-between;
}
